body {
    background-color: #fdfbd4;
    color:  #6c8432;
    font-size: 20px;
}
h2 {
    font-size: 30px;
    color: #fdfbd4;
}
.prog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #6c8432;
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
}
.prog h2{
    color: #fdfbd4;
    font-size: 30px;
    margin-left: 4%;
}
.prog ul li {
    color: #fdfbd4;
    font-size: 20px;
    margin-left: 25px;
}
.prog img {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}
/* video */
.video {
    margin: auto;
    width: 50%;
    margin-top: 20px;
}
.video iframe {
    margin: auto;
    margin: 20px 0;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: #fdfbd4;
    animation: slide-in 3s ease-in-out 1 forwards;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: scale(0.5); 
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* event */
.card hr {
    margin: auto;
    margin-bottom: 30px;
    margin-top: -10px;
    width: 90px;
    color: #fdfbd4;
    border: 2px solid;
}
.card h2 {
    text-align: center;
}
.card {
    margin-left: 60px;
}
.card img {
    width: 300px;
    height: 300px;
    border: 2px solid #6c8432;
    border-radius: 20%;
    cursor: auto;
    transition: all 0.6s ease-in-out;
}
.card img:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 #fdfbd4, 0 6px 20px 0 #fdfbd4;
}