.footer {
    
    font-family: Arial, Helvetica, sans-serif;
    color: #3e5725; 
    background-color: #1b270e76;
    margin-top: 60px;
    margin-bottom:0;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    padding:15px;
}

hr {
    width: 40px;
    margin-left: 0;
    margin-bottom: 30px;
}
body ul {
    padding: 0;
}
.connect .icon i{
    border:1px solid #3e5725;
    padding: 6px;
    border-radius: 5px;
    color: #3e5725;
    margin-top: 30px;
}
.row .Site a {
    text-decoration: none;
    color: #3e5725;
}