body {
    background-color: #fdfbd4;
}
.container1 {
    width: 95%;
    height: 200px;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
    margin: auto;
    background:url(Image1/pol-2.jpg) no-repeat;
    background-size: 100%;
    margin-top: 60px;
}
.row_card {
    background-color: #6c8432;
    margin: 20px;
    border-radius: 10px;
    margin-top: 10%;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    text-align: center;

}
.row_card h1 {
    color: #fdfbd4;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 30px;
}
.row_card p {
    color: #fdfbd4;
    text-align: center;
    font-size: 20px;
}
.row_card button {
    border: 1px solid #fdfbd4;
    background-color: transparent;
    color:#fdfbd4
}
.text {
    color: #3e5725;
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
}
.row_card h2{
    font-size: 30px;
    color: #fdfbd4;
}
* {
    box-sizing: border-box;
}
.card_container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.card img {
    width:100%;
    height:260px;
    border:1px solix #3e5725;
    padding:10px;
    background-color: #3e5725;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card {      
    border-radius: 10px;
    text-align: center;
    margin:10px;
    position:relative;
    margin-bottom:100px;
}
.card_container button {
    margin-top:10px;
}
.card p{
    width:100%;
    position:absolute;
    display:none;
    background-color: #3e5725;
    padding:10px 0;
    top:235px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.card:hover p{
    display:block;
}