body {
    background-color: #fdfbd4;
    margin:0;
}
.hero {
    clear:both;
    width: 100vw;
    height: 400px;
    background: url(Image1/kand-5.jpg);
    background-size: 100% 100%;
    position:relative;
    left:0;
    right:0;
    top: 60px;
    bottom:100px;
}
.text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: #f3f2d883;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    color: #487917;
}
.hero h1 {
    font-size: 30px;
    color: #6c8432;
}
.hero p {
    font-size: 20px;
    color: #6c8432;
    padding: 25px;
}
 
/* program start */
.prog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #6c8432;
    margin-top: 10%;
}
.prog h2{
    color: #fdfbd4;
    font-size: 30px;
}
.prog ul li {
    color: #fdfbd4;
    font-size: 20px;
}
.pol-3_img {
    text-align: center;
    padding:10px;
}
.pol-3_img img {
    margin-top: 5%;
    border-radius: 10px;
    width:100%;
    height: 250px;
}
.prog1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #6c8432;
    margin-top: 10%;
}
.prog1 h2 {
    color: #fdfbd4;
    font-size: 30px;
}
.prog1 ul li {
    color: #fdfbd4;
    font-size: 20px;
}
 
/* FAQ start */
.faq_section h2 {
    color: #6c8432;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 50%;
}
        /* FAQ start */
        .faq_section label {
            background-color: #6c8432;
            padding: 15px 10px;
            display: block;
            width: 70%;
            margin: auto;
            padding: 20px;
            font-size: 15px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-sizing: border-box;
        }
        #q1 {
            display: none;
        }
 
        .faq_section #ans1 {
            background-color: #6b84327f;
            padding: 10px;
            display: none;
            width: 70%;
            height: 100px;
            margin: auto;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-sizing: border-box;
        }
        #q1:checked ~ #ans1 {
            display: block;
            animation: fadeInSlide 0.5s ease-out both;
        }

        #q2 {
            display: none;
        }
        .faq_section .ans2 {
            background-color: #6b84327f;
            padding: 10px;
            display: none;
            width: 70%;
            height: 100px;
            margin: auto;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-sizing: border-box;
        }
        #q2:checked ~ .ans2 {
            display: block;
            animation: fadeInSlide 0.5s ease-out both;
        }
        @keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
        #q3 {
            display: none;
        }
        .faq_section .ans3 {
            background-color: #6b84327f;
            padding: 10px;
            display: none;
            width: 70%;
            height: 100px;
            margin: auto;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-sizing: border-box;
        }
        #q3:checked ~ .ans3 {
            display: block;
            animation: fadeInSlide 0.5s ease-out both;
        }
        #q4 {
            display: none;
        }
        .faq_section .ans4 {
            background-color: #6b84327f;
            padding: 10px;
            display: none;
            width: 70%;
            height: 100px;
            margin: auto;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-sizing: border-box;
        }
        #q4:checked ~ .ans4 {
            display: block;
            animation: fadeInSlide 0.5s ease-out both;
        } 
    @media screen and (max-width:700px){
        .hero {
            height:600px;
        }
        .text1 {
            padding:5px;
        }
    }